
Vista_NET/.vs/Vista_NET/config/applicationhost.config
Vista_NET/packages/Microsoft.AspNet.Mvc.es.5.2.9/lib/net45/es/System.Web.Mvc.resources.dll
Vista_NET/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/es/System.Web.WebPages.Deployment.resources.dll
Vista_NET/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/es/System.Web.WebPages.resources.dll
Vista_NET/packages/Microsoft.AspNet.WebPages.3.2.9/lib/net45/es/System.Web.WebPages.Razor.resources.dll
Vista_NET/packages/Microsoft.AspNet.WebPages.es.3.2.9/lib/net45/es/System.Web.Helpers.resources.dll
Vista_NET/packages/Microsoft.AspNet.WebPages.es.3.2.9/lib/net45/es/System.Web.WebPages.Deployment.resources.dll
Vista_NET/packages/Microsoft.AspNet.WebPages.es.3.2.9/lib/net45/es/System.Web.WebPages.Razor.resources.dll
